{% extends 'base.html' %}{% block title %} Uimage - Log In {% endblock %}
{% import '_macros.html' as macros %}


{% block content %}
{% include '_posts.html' %}

<div class="col-md-5" style="margin-top: 5em;">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.comment.label(class="form-label") }} as {{ current_user.username }}...
          {% if form.comment.errors %}
            {{ form.comment(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.comment.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.comment(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </form>
</div>
{% include '_comments.html' %}

{% if pagination %}
<div class="pagination" style="margin-top: 1rem; margin-left: 1rem;">
    {{ macros.pagination_widget(pagination, '.home') }}
</div>
{% endif %}

{% endblock %}